/* CSS Document */

    body {
    	font-family: Tahoma, Geneva, sans-serif;
    	font-size: 10pt;
    	color: #333;
    }

    #container {
    	border: 1px solid #666;
      width: 80%;
      min-width: 600px;
      margin: 0px auto;
    }

/* --- HEADER --------------------------------------------*/
    #header {
      height: 150px;
    	background-color: #E1E1E1;
      margin: 0;
      padding: 0;
      position: relative;
    }

    #header h1 {
      color: #307FE0;
      font-size: 40px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 20px;
      top: 20px;
    }

/* --- SIDEBAR -------------------------------------------*/
    #leftsidebar {
      width: 180px;
      float: left;
      min-height: 300px;
      padding: 10px;
      margin: 0;
    }

    #leftsidebar ul {
      list-style-type: none;
      padding:0;
      margin:0;
    }

    #leftsidebar ul li {
      background-color: #7FC0C0;
      border: solid thin #999;
      height: 20px;
      margin: 5px 0 0 0;
      padding: 5px;
      text-align: right;
      font-size: 15px;
    }

    #leftsidebar ul li a {
      text-decoration: none;
    }

    #leftsidebar ul li a:hover {
      font-weight: 600;
    }


/* --- MAIN ----------------------------------------------*/
    #main {
      padding: 2em;
      margin: 0 0 0 200px;
      border-left: solid 1px #aaa;
      line-height: 130%;
      min-height: 300px;
    }


/* --- FOOTER --------------------------------------------*/
    #footer {
      clear: both;
    	background-color: #E1E1E1;
    	text-align:center;
      height: 20px;
      padding: 10px;
      margin: 0;
    }

    #leftfooter {
	
      float:left;
    }

    #rightfooter {
	
      float:right;
    }


